<p>
<div class="page-header">
  <h3>My Likes</h3>
</div>

<% @user.liked_photos.each do |liked_photo| %>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"> <a href="/users/<%=liked_photo.user_id%>"><%=liked_photo.user.username %></a>
          <small><%= time_ago_in_words(liked_photo.created_at, include_seconds: true) %> ago</small></h3>
        </div>
        <div class="panel-body">
          <a href="/photos/<%=liked_photo.id %>"><img src="<%= liked_photo.image %>" class="img-responsive"></a>
          <!-- <p> -->
          <!-- <form action="/create_like" method="post">
          <input>
          <input>
          <input>
        </form> -->
        <!-- </p> -->

        <ul class="media-list">
          <li class="media">
            <div class="media-body">
              <h6 class = "media-heading">
                <a href="/users/<%=liked_photo.user_id%>"><%= liked_photo.user.username%></a>
                <small class="text-muted"> <%= time_ago_in_words(liked_photo.created_at, include_seconds: true) %> ago</small>
              </h6>
              <%= liked_photo.caption %>
            </div>
          </li>


          <% liked_photo.comments.each do |comment| %>
          <li class="media">
            <div class="media-body">
              <h6 class = "media-heading">
                <a href="/users/<%=comment.user_id%>"><%= comment.user.username%></a>
                <small class="text-muted"> <%= time_ago_in_words(comment.created_at, include_seconds: true) %> ago</small>
              </h6>
              <%= comment.body %>
            </div>
            <% end %>
          </li>

          <form action="/create_comment" method="post">
            <!-- Hidden input for authenticity token to protect from forgery -->
            <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

            <input type="hidden" id="photo_id" name="photo_id" value="<%= liked_photo.id %>">
            <input type="hidden" id="user_id" name="user_id" value="<%= liked_photo.user_id%>">

            <div class="form-group">
              <label for="body" class="sr-only">
              </label>
              <input type="text" id="body" name="body" placeholder="Add a comment..." class="form-control" required>
            </div>
          </form>

        </ul>
      </div>
    </div>
  </div>
</div>
<%end %>
<p>
